<div class="page-header clear-filter" filter-color="orange">
    <!--<div class="page-header-image" style="background-image:url(/assets/bg1.jpg)"></div>-->

    <div class="content" style="margin-top: 3%; margin-bottom: 0px">
      <div class="container">
        <div class="col-lg-4 col-md-8 ml-auto mr-auto">
          <div class="card card-signup" data-background-color="orange">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div class="card-header text-center">
    <h3 class="card-title title-up"><%= I18n.t('devise.passwords.new.forgot_your_password') %></h3>
    <!-- <div class="social-line">
      <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn-round">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="#pablo" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#pablo" class="btn btn-neutral btn-google btn-icon btn-round">
        <i class="fab fa-google-plus"></i>
      </a>
    </div> -->
  </div>
                <div class="card-body">
                  <div class="input-group no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email...", required: true %>
                  </div>
                
                <div class="card-footer text-center">
                    <%= f.submit I18n.t('devise.passwords.new.send_me_reset_password_instructions'), class: "btn btn-neutral btn-round btn-lg" %>
                    <br>
                    <%= render "devise/shared/links" %>
                </div>
<% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
